{% extends "admin/base.html" %}
{% load i18n suit_tags custom_admin_style static %}

{% block title %}{{ title }} | {% if user.is_superuser %}{% trans "Sigma CMS admin" %}{% else %}{% trans "Sigma CMS dashboard" %}{% endif %}{% endblock %}

{% block branding %}
  {% get_admin_logo as logo %}
  {% if logo %}<img src="{{ logo }}" alt="logo"/>{% else %}{% trans "Sigma CMS" %}{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
{% get_admin_custom_style as custom_style %}
<style type="text/css">
 .header {
     height: 60px;
 }
 {% if custom_style.fg_color %}
 caption a {
     color: {{ custom_style.fg_color }};
 }
 caption a:hover, caption a:focus {
     color: {{ custom_style.fg_color }};
     opacity: 0.6;
 }
 .italic-title {
     color: {{ custom_style.fg_color }};
 }
 .form-horizontal fieldset .legend {
     color: {{ custom_style.fg_color }};
 }
 .form-horizontal fieldset .legend a {
     color: {{ custom_style.fg_color }};
 }
 .form-horizontal fieldset .legend a:hover,
 .form-horizontal fieldset .legend a:focus {
     color: {{ custom_style.fg_color }};
     opacity: 0.6;
 }
 {% endif %}
 {% if custom_style.bg_color %}
 div#content, div#suit-center {
     background-color: {{ custom_style.bg_color }};
 }
 {% endif %}
</style>
<link type="text/css" rel="stylesheet" href="{% static "admin/css/sigma-admin-overrides.css" %}"/>
{% endblock %}


{% block footer_links %}Questions or issues?<br/><a href="mailto:support@redcrowdigital.com.au">support@redcrowdigital.com.au</a>{% endblock %}

{% block copyright %}
  Site built with Sigma CMS<br>Developed by <a href="http://redcrowdigital.com.au" target="_blank">redcrowdigital.com.au</a>
{% endblock %}

{% block footer_branding %}
  {% with 'ADMIN_NAME'|suit_conf as admin_name %}
    {{ admin_name }}
    v{{ 'VERSION'|suit_conf }}
  {% endwith %}
{% endblock %}
 
