{% load i18n %}
<p class="file">
  <a href="{{ instance.file.url }}">
    {% if instance.title %}<span class="filetitle">{{ instance.title }}{% else %}{{ instance.file }}{% endif %} {% if instance.file %}<span class="filesize">({{ instance.file.size|filesizeformat }})</span>{% else %}({% trans "file missing!" %}){% endif %}{% if instance.title %}</span>{% endif %}
  </a>
</p>
