{% load easy_maps_tags %}
<div class="plugin_googlemap">
  {% with instance as o %}
    {% if o.get_title %}<h2>{{ o.get_title }}</h2>{% endif %}
    {% if o.is_static %}
      {% easy_map o.get_address o.get_width o.get_height o.zoom using "easy_maps/staticmap.html" %}
    {% else %}
      {% easy_map o.get_address o.get_width o.get_height o.zoom using "easy_maps/interactive.html" %}
    {% endif %}
  {% endwith %}
</div>
