{% extends FLUENT_PAGES_BASE_TEMPLATE %}

{% load el_pagination_tags %}

{% block meta_description %}{{ page.description }}{% endblock %}
{% block meta_keywords %}{{ page.keywords }}{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block content %}
  {% with content=page.content %}{% with per_page=page.paginated_by %}
    {% paginate per_page content %}
    <ul classs="list-unstyled">
      {% for page in content %}
        <li><a href="{{ page.url }}">{{ page.title|safe }}</a></li>
      {% empty %}
      {% endfor %}
    </ul>
    {% show_pages %}
  {% endwith %}{% endwith %}
{% endblock %}
