{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}
{% load url from suit_compat %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
      <span class="divider">&raquo;</span></li>
  <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a>
      <span class="divider">&raquo;</span></li>
  <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
      <span class="divider">&raquo;</span></li>
  <li class="active">{% block breadcrumbs_last %}{% trans tool.label %}{% endblock %}</li>
</ul>
{% endblock %}
{% endif %}

{% block content %}
  {% block tool_form %}{% endblock %}
{% endblock %}
