ul.select2-selection__rendered li {
    list-style-type: none;
}

.select2-search--dropdown .select2-search__field {
    padding: 4px 6px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}