{% comment %}
    TinyMCE requires you to have the resources referenced below installed under your STATIC_URL/tinymce.
    You can download them from tinymce.com, or include django-tinymce in your project.
{% endcomment %}
{% load wysiwyg %}
<script type="text/javascript" src="{% wysiwyg_static_url 'tinymce' 'tiny_mce/' DJANGO_WYSIWYG_MEDIA_URL %}tiny_mce_src.js"></script>
<script type="text/javascript">
    // allow custom settings per editor ID:
    var django_wysiwyg_editor_configs = [];{% block django_wysiwyg_editor_config %}
    var django_wysiwyg_editor_config = {
        relative_urls: false,
        custom_undo_redo_levels: 10,
        plugins: 'paste',
        strict_loading_mode: true,  // for pre 3.4 releases

        theme: "simple"
    };
{% endblock %}

    var django_wysiwyg =
    {
        editors: {},

        enable: function django_wysiwyg_enable(editor_name, field_id, config)
        {
            if( !this.editors[editor_name] ) {
                if( !config ) {
                    config = django_wysiwyg_editor_configs[field_id] || django_wysiwyg_editor_config;
                }

                // Apply extra settings in local copy.
                var localconfig = {};
                tinyMCE.extend(localconfig, config);
                tinyMCE.extend(localconfig, {
                    mode: "exact",
                    elements: field_id,
                    setup: function(editor) {
                        django_wysiwyg.editors[editor_name] = editor;
                    }
                });

                tinyMCE.init(localconfig);
            }
        },

        disable: function django_wysiwyg_disable(editor_name)
        {
            var editor = this.editors[editor_name];
            if( editor ) {
                editor.save();
                editor.remove();
                this.editors[editor_name] = null;
            }
        },

        is_loaded: function django_wysiwyg_is_loaded()
        {
            return window.tinyMCE != null;
        }
    }
</script>
