{% extends "easy_maps/map.html" %}

{% block api_js %}
  {# The google maps JS API doesn't like being loaded more than once, so load it in the base template #}
{% endblock %}

{% block html %}
  <div id="map-canvas-{{ map.pk }}" {% if width and map.latitude and not map.geocode_error %}style="width: {{ width }}px; height: {{ height }}px;"{% endif %} class="easy-map-googlemap">
    <a href="http://maps.google.com/?q={{ map.address }}">
      <img alt="Map of {{ map.address }}" src="https://maps.google.com/maps/api/staticmap?center={{ lat }},{{ long }}&zoom={{ zoom }}&markers={{ lat }},{{ long }}&size={{ width }}x{{ height }}&sensor=false">
    </a>
    {% if map.geocode_error %}<!-- geocoding error -->{% endif %}
  </div>
{% endblock %}

{% block map_js %}{% endblock %}
