{% extends "socialaggregator/base.html" %}

{% block content %}
<div class="row">
    <h2> Ressources</h2>
    {% for ressource in object_list %}
    <div class="contentBlock">
        <div class="ressource">
            <h3>{{ ressource.name }}</h3>
            {% if ressource.description %}<p>{{ ressource.description|safe|linebreaksbr }}</p>{% endif %}
            {% if ressource.media_url %}
                <p>
                    <a href="{{ ressource.media_url }}">
                        {% if ressource.button_label %}
                            {{ ressource.button_label }}
                        {% else %}
                            See on website
                        {% endif %}
                    </a>
                </p>
            {% endif %}
        </div>
        <div class="credits text-right">
            {% if ressource.author %}
                <h4>{{ ressource.author }}</h4>
            {% endif %}
            <p>{{ ressource.ressource_date }}</p>
        </div>
    </div>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>
    
<div class="row">
    <hr>
    <div class="small-4 columns text-left"><p>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </p></div>
    <div class="small-4 columns text-center">
        <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
    </div>
    <div class="small-4 columns text-right"><p>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </p></div>
</div>
{% endblock %}
