{% extends base_change_form_template %}

{% load i18n admin_urls fluent_pages_admin_tags %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript">fluent_layouts.ct_id = {{ content_type_id }};</script>
{% endblock %}

{% block object-tools %}
  {% if change %}{% if not is_popup %}
    <ul class="object-tools">
      {% block object-tools-items %}
        {% if has_publish_permission %}
          {% if unpublish_btn %}<li><a href="{{ unpublish_btn }}">{% trans "Unpublish" %}</a></li>{% endif %}
          {% if preview_draft_btn and original.url %}<li><a href="{{ original.url }}?edit">{% trans "Preview draft" %}</a></li>{% endif %}
          {% if revert_btn %}<li><a href="{{ revert_btn }}">{% trans "Revert to public" %}</a></li>{% endif %}
        {% else %}
          {% if preview_draft_btn and original.url %}<li><a href="{{ original.url }}?edit">{% trans "Preview draft" %}</a></li>{% endif %}
        {% endif %}
        <li>
          <a href="history/" class="historylink">{% trans "History" %}</a>
        </li>
        {% if original.publisher_linked and original.published and published_url %}<li><a href="{{ published_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
      {% endblock %}
    </ul>
  {% endif %}{% endif %}
  {% if language_tabs %}{% include "admin/parler/language_tabs.html" %}{% endif %}{# manually included, this template overrides parler defaults #}
{% endblock %}
   
{% block submit_buttons_top %}{% endblock %}

{% block submit_buttons_bottom %}
  <div class="submit-row">
    {% if has_publish_permission %}
      <input type="submit" value="{% trans 'Publish' %}" class="default" name="_publish" />
    {% else %}
      <input type="submit" value="{% trans 'Save Draft' %}" class="default" name="_save" />
    {% endif %}
    {% if not is_popup and change and has_delete_permission %}
      {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
      <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
    {% endif %}
    {% if not is_popup and change and save_as %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />{%endif%}
    {% if not is_popup and has_add_permission %}{% if not save_as or add %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />{% endif %}{% endif %}
    {% if not is_popup and has_change_permission %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />{% endif %}
    {% if has_publish_permission %}
      <input type="submit" value="{% trans 'Save Draft' %}" name="_save" />
    {% endif %}
  </div>
{% endblock %}
