/* column layout */

.jqtree-django .col-status_column     { width: 120px; }
.jqtree-django .col-modification_date { width: 170px; }
.jqtree-django .col-actions_column    { width: 110px; }
.jqtree-django .col-language_column   { width: 100px; }
.jqtree-django .col-pagetype_column   {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.jqtree-django .col-get_layout   {
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* language buttons */

thead th.col-language_column {
  border-left: 0;
}

thead th.col-language_column div {
   display: none;
}

.jqtree-django div.col.col-language_column {
  border-left: 0;
}

.available-languages {
  font-weight: normal;
  float: right;
  padding-right: 5px;
  font-size: 9px;
  color: #666;
}

body .jqtree-django .col-primary {
    z-index: 1;
}

body .jqtree-django .moving .col-primary {
    z-index: 0;
}

.jqtree-django .viewsitelink .icon-globe,
.jqtree-django .add-child-object .icon-plus-sign,
.jqtree-django .previewdraftlink .icon-eye-open {
}