* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
body {
	font-size: 14px;
}
a {
	/*color: #EF5652;*/
	color: #444;
}
a:hover {
	color: #222;
}
.login #content-main h1 {
	background-color: #000;
	text-indent: -9999px;
	background-image: url(http://redcrowdigital.com.au/images/sigma_w.svg);
	background-repeat: no-repeat;
	background-size: 140px;
	height: 60px;
	background-position: 10px;
}
.header {
	height: 60px;
	padding-top: 15px;
	background: #222;
	text-shadow: none;
}
.header a, .footer a {
	color: #EF5652;
}
.header #site-name {
	text-indent: -9999px;
	background-image: url(http://redcrowdigital.com.au/images/sigma_w.svg);
	background-repeat: no-repeat;
}
#footer {
	height: 80px;
	background: #222;
	text-shadow: none;
}
.footer .content .copyright {
	padding: 15px 20px 0 0;
}
div.header-content.header-content-first {
	display: none;
}
.left-nav > ul > li > a {
	font-size: 15px;
}
.left-nav > ul > li.active > a {
	color: #fff;
	text-shadow: none;
	background-color: #EF5652;
	background-repeat: no-repeat;
	background-image: none;
	border: 0;
}
.left-nav > ul > li > a {
	padding: 10px 10px 10px 13px;
}
.left-nav>ul>li.active>a:after {
	content: '';
}
.left-nav>ul>li>a i, .left-nav>ul>li.active>a i {
	background-image: none;
	margin-left: -20px;
}
.table-overview caption a {

}
.btn-info, .btn-success {
    color: #ffffff;
    text-shadow: none;
    background-color: #EF5652;
    background-image: none;
    border: 1px solid #EF5652;
    border-radius: 0;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-color: #bb1e1a;
	border: 1px solid #bb1e1a;
}
.btn-success {
    background-color: #5bb75b;
    border: 1px solid #5bb75b;
    
}
.save-box a.text-error {
	text-decoration: none;
}
.save-box a.text-error:hover {
	background: none;
	color: inherit;
}
#js-result-list {
	font-size: 14px !important;
}
#cp-tabnav li {
	min-width: auto !important;
	border: 0 !important;
	margin-bottom:-1px !important;
	float: none !important;
}
.nav-tabs-suit li a, #cp-tabnav li a {
	font-size: 15px !important;
	padding: 12px 20px 15px !important;
	color: #666;
}
.nav-tabs-suit li.active a, #cp-tabnav li.active a {
	color: #222 !important;
}
li.cp-region.active {
	background: none !important;
}
.jqtree-django .col-get_layout {
	width: 120px !important;
}
textarea#id_description.vLargeTextField {
	width: 90%;
}