.parler-language-tabs button.close {
    margin-left: 10px;
    margin-right: -10px;
    font-size: 12px;
}

.parler-language-tabs button.close:hover,
.parler-language-tabs button.close:focus {
    opacity: 0.6;
}
