{% load i18n %}
<div class="twitterfeed">
  {% if instance.title %}<h2>{{ instance.title }}</h2>{% endif %}
  <a class="twitter-timeline" href="https://twitter.com/{{ instance.twitter_user }}" data-widget-id="{{ instance.twitter_id }}" data-screen-name="{{ instance.twitter_user }}" data-show-replies="false" data-tweet-limit="{{ instance.amount }}">{% blocktrans with instance.twitter_user as username %}Tweets by @{{ username }}{% endblocktrans %}</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
