{% load i18n %}
{% if language_tabs and language_tabs|length > 1 %}
  <ul class="parler-language-tabs nav nav-tabs nav-tabs-suit{% if language_tabs.css_class %} {{ language_tabs.css_class }}{% endif %}">
    {% for url, name, code, status in language_tabs %}
      <li class="{% if status == 'current' %}active{% endif %}">
        <a href="{% if status == 'current' %}javascript:void(0){% else %}javascript:;{% endif %}" {% if status != 'current' %}onclick="trigger_lang_button(this,'./?language={{ code }}');"{% endif %}>{{ name }}
          {% if status == 'current' %}
            {% if language_tabs.current_is_translated and language_tabs.allow_deletion %}<button class="close" title="{% trans 'Delete Translation' %}" type="button" data-href="./delete-translation/{{ code }}/"><i class="icon-remove"></i></button>{% endif %}
          {% else %}
            {% if status == 'available' and language_tabs.allow_deletion %}<button class="close" title="{% trans 'Delete Translation' %}" type="button" data-href="./delete-translation/{{ code }}/"><i class="icon-remove"></i></button>{% endif %}
          {% endif %}
        </a>
      </li>
      {% if status == 'current' %}<input type="hidden" class="language_button selected" name="{{ code }}" />{% endif %}
    {% endfor %}
  </ul>
  <script type="text/javascript">
    $(document).ready(function() {
        var changed = false;

        // global functions
        trigger_lang_button = function(e, url) {
            // also make sure that we will display the confirm dialog
            // in case users switch tabs while editing plugins
            var question = '';
            var answer = '';

            if (changed) {
                question = gettext("Are you sure you want to change tabs without saving the page first?");
                answer = confirm(question);
            } else {
                answer = true;
            }

            if (!answer) {
                return false;
            } else {
                window.location = url;
            }
        }

        $('.parler-language-tabs button.close').on('click', function(e) {
            e.preventDefault();
            window.location.href = this.getAttribute("data-href");
        });

        $('#fluent_contents_inlines').bind('DOMNodeInserted DOMNodeRemoved', function() {
            if (!changed) {
                changed = true;
            }
        });
        $(":input").change(function() {
            if (!changed) {
                changed = true;
            }
        });
    });
  </script>
{% endif %}
