{% extends "admin/change_form.html" %}{% load i18n %}

{% block extrahead %}
  {{ block.super }}
  <style type="text/css">
    .form-horizontal .inline-related span.cke_voice_label,
    .form-horizontal .inline-related span.cke_combo_label,
    .form-horizontal .inline-related span.cke_button_label,
    .form-horizontal .inline-related span.cke_toolbar_start,
    .form-horizontal .inline-related span.cke_toolbar_end {
      display: none;
    }
    .form-horizontal .inline-related span.cke_reset_all,
    .form-horizontal .inline-related span.cke_toolbox {
      display: block;
    }
    .form-row div.cke_chrome {
      box-shadow: none;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
  {% if original and original.is_cross_site %}
    <p class="errornote">{% trans "This object can be displayed on multiple sites. Please verify that links in the content work across all sites." %}</p>
  {% endif %}
  {{ block.super }}
{% endblock %}
