{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% if not is_popup %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo; {{ title }}
  </div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main" class="inner-two-columns">
  <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ request.path }}?{{ request.GET.urlencode }}" method="post" id="{{ opts.model_name }}_form" class="form-horizontal" novalidate>
    <div class="inner-right-column">
      <div class="box save-box">{% block submit_buttons_bottom %}
        {% if is_popup %}
          <div class="submit-row clearfix">
            <input type="submit" class="btn btn-high btn-info" value='{% trans "Select" %}' />
            <a href="#" onclick="window.close(); return false;" class="text-error deletelink">{% trans "Cancel" %}</a>
          </div>
        {% endif %}{% endblock %}
      </div>
    </div>
    <div class="inner-center-column">
      {% csrf_token %}{% block form_top %}{% endblock %}
      <div class="tab-content tab-content-main">
        {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}
        {% if errors %}
        <div class="alert alert-error">
          {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
          {{ adminform.form.non_field_errors }}
        </div>
        {% endif %}

        {% block field_sets %}
          {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
          {% endfor %}
        {% endblock %}
      </div>

      {% block admin_change_form_document_ready %}
        <script type="text/javascript">
            (function($) {
                $(document).ready(function() {
                    $('.add-another').click(function(e) {
                        e.preventDefault();
                        showAddAnotherPopup(this);
                    });
                    $('.related-lookup').click(function(e) {
                        e.preventDefault();
                        showRelatedObjectLookupPopup(this);
                    });
                {% if adminform and add %}
                    $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                {% endif %}
                });
                getUrlParam = function( paramName ) {
                    var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' ) ;
                    var match = window.location.search.match(reParam) ;

                    return ( match && match.length > 1 ) ? match[ 1 ] : null ;
                }
                $('form#{{ opts.model_name }}_form').bind('submit', function(e) {
                    ckeditor_param = getUrlParam("CKEditorFuncNum");
                    if ($('#id_file').val()) {
                        $.ajax('{{ request.path }}', {
                            type: 'POST',
                            data: $('form#{{ opts.model_name }}_form').serializeArray(),
                            success: function(responseText, responseStatus) {
                                url = responseText;
                                window.opener.CKEDITOR.tools.callFunction( ckeditor_param, url);
                                window.close();
                            },
                            async:false
                        })
                        return false;
                    }
                    return true;
                });
            })(django.jQuery);
        </script>
      {% endblock %}
    </div>
  </form></div>
{% endblock %}
