{% extends "admin/change_form.html" %}
{% load i18n admin_modify admin_urls polymorphic_admin_tags polymorphic_tree_admin_tags %}

{# Add tree levels to polymorphic breadcrumb #}
{% block breadcrumbs %}{% if not is_popup %}{% breadcrumb_scope base_opts %}
  <ul class="breadcrumb">
    <li>
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      <span class="divider">&raquo;</span>
    </li>
    {% if user.is_superuser %}
        <li>
          <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
          <span class="divider">&raquo;</span>
        </li>
    {% endif %}
    <li>
      {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
      <span class="divider">&raquo;</span>
    </li>
    {% for p in original|mptt_breadcrumb %}{% if not p.is_published %}
      <li>
        <a href="{% url opts|admin_urlname:'change' p.id %}">{{ p }}</a>
        <span class="divider">&raquo;</span>
      </li>
    {% endif %}{% endfor %}
    <li class="active">
      {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </li>
  </ul>
{% endbreadcrumb_scope %}{% endif %}{% endblock %}
