{% extends "admin/delete_confirmation.html" %}
{% load i18n admin_urls polymorphic_admin_tags polymorphic_tree_admin_tags %}

{# Add tree levels to polymorphic breadcrumb #}
{% block breadcrumbs %}{% breadcrumb_scope base_opts %}
<ul class="breadcrumb">
  <li>
    <a href="../../../{% if object.master %}../../{% else %}../{% endif %}">{% trans 'Home' %}</a>
    <span class="divider">&raquo;</span>
  </li>
  <li>
    <a href="../../{% if object.master %}../../{% else %}../{% endif %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
    <span class="divider">&raquo;</span>
  </li>
  <li>
    <a href="../{% if object.master %}../../{% else %}../{% endif %}">{{ opts.verbose_name_plural|capfirst }}</a>
    <span class="divider">&raquo;</span>
  </li>
  {% for p in object|mptt_breadcrumb %}{% if not p.is_published %}
    <li>
      <a href="../../{% if object.master %}../{% endif %}{{ p.id }}/">{{ p }}</a>
      <span class="divider">&raquo;</span>
    </li>
  {% endif %}{% endfor %}
  <li>
    <a href="{% if object.master %}../../{% else %}../{% endif %}">{{ object|truncatewords:"18" }}</a>
    <span class="divider">&raquo;</span>
  </li>
  <li class="active">
    {% trans 'Delete' %}
  </li>
</ul>
{% endbreadcrumb_scope %}{% endblock %}

