{% with instance.slideshow as o %}
  <h3>{{ o.title }}</h3>
  <div id="slides-container-{{ o.slug }}" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      {% for slide in o.slide_set.all %}
        <li data-target="#slides-container-{{ o.slug }}" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for slide in o.slide_set.all %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img src="{{ slide.image.url }}" alt="{{ slide.title }}" />
          {% if slide.url %}<a href="{{ slide.url }}">{% endif %}<div class="carousel-caption">
            <h3>{{ slide.title }}</h3>
            {% if slide.content %}<p>{{ slide.content|safe }}</p>{% endif %}
          </div>{% if slide.url %}</a>{% endif %}
        </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#slides-container-{{ o.slug }}" role="button" data-slide="prev">
      <span class="fui-arrow-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slides-container-{{ o.slug }}" role="button" data-slide="next">
      <span class="fui-arrow-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endwith %}
