{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="{{ LANGUAGE_CODE|default:"en" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="{{ LANGUAGE_CODE|default:"en" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="{{ LANGUAGE_CODE|default:"en" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html lang="{{ LANGUAGE_CODE|default:"en" }}" class="no-js">  <![endif]-->
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title_base %}{% block head_title %}Untitled{% endblock %} | {{ usersettings.site_name|default:"example.com" }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="robots" content="{% block robots %}INDEX, FOLLOW{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head_base %}
      {% block extra_head %}{% endblock extra_head %}
    {% endblock extra_head_base %}
    <link rel="shortcut icon" type="image/x-icon" href="{% url 'favicon' %}" />
    <link rel="icon" type="image/x-icon" href="{% url 'favicon' %}" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <noscript>
      <div class="noscript text-center alert alert-danger">
	{% blocktrans %}For full functionality of this site it is necessary to enable JavaScript. Here are the <a class="alert-link" href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.{% endblocktrans %}
      </div>
    </noscript>
    {% block body %}
      <header>{% block header %}{% endblock %}</header>

      <section id="contents" role="main">
        <div id="main">
          {% block content_outer %}
            {% block content %}{% endblock %}
          {% endblock content_outer %}          
        </div>
      </section>
      
      {% block footer_outer %}
        <footer>{% block footer %}{% endblock %}</footer>
      {% endblock footer_outer %}          
      {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
      {% endblock extra_body_base %}
    {% endblock body %}
  </body>
</html>
