{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head_base %}
  {% block extra_stylesheet %}{% endblock extra_stylesheet %}
  {% block extra_head %}
    {% if usersettings.maps_api_key %}
      <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key={{ usersettings.maps_api_key }}"></script>
    {% endif %}
  {% endblock extra_head %}
{% endblock extra_head_base %}

{% block header %}
  {% block navbar %}{% endblock %}
{% endblock %}

{% block content_outer %}
  <div class="{% block content_class %}{% endblock %}">
    {% block content_title_outer %}
      <h3 class="{% block content_title_class %}{% endblock %}">{% block content_title %}{% endblock content_title %}</h3>
    {% endblock %}
    {% block content_base %}
      {% block content %}{% endblock %}
    {% endblock %}
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra_body_base %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  {% if usersettings.keycode %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ usersettings.keycode }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
  {% block extra_javascript %}{% endblock extra_javascript %}
  {% block extra_body %}{% endblock extra_body %}
{% endblock extra_body_base %}
