{% extends base_change_form_template %}

{% load i18n parler_tags fluent_pages_admin_tags %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript">fluent_layouts.ct_id = {{ content_type_id }};</script>
  <style type="text/css">
    .form-horizontal .inline-related span.cke_voice_label,
    .form-horizontal .inline-related span.cke_combo_label,
    .form-horizontal .inline-related span.cke_button_label,
    .form-horizontal .inline-related span.cke_toolbar_start,
    .form-horizontal .inline-related span.cke_toolbar_end {
      display: none;
    }
    .form-horizontal .inline-related span.cke_reset_all,
    .form-horizontal .inline-related span.cke_toolbox {
      display: block;
    }
    .form-row div.cke_chrome {
      box-shadow: none;
    }
  </style>
{% endblock %}

{% block object-tools %}
  <h4 class="italic-title">{% trans 'actions'|capfirst %}</h4>
  {% if change %}{% if not is_popup %}
    <ul class="box menu-box">
      {% block object-tools-items %}
        {% if has_publish_permission %}
          {% if unpublish_btn %}<li><a href="{{ unpublish_btn }}" class="unpublishlink"><i class="icon-trash icon-alpha75"></i>{% trans "Unpublish" %}</a></li>{% endif %}
          {% if preview_draft_btn and original.url %}<li><a href="{{ original.url }}?edit" class="previewdraftlink"><i class="icon-eye-open icon-alpha75"></i>{% trans "Preview draft" %}</a></li>{% endif %}
          {% if revert_btn %}<li><a href="{{ revert_btn }}" class="revertlink"><i class="icon-repeat icon-alpha75"></i>{% trans "Revert to public" %}</a></li>{% endif %}
        {% else %}
          {% if preview_draft_btn and original.url %}<li><a href="{{ original.url }}?edit" class="previewdraftlink"><i class="icon-eye-open icon-alpha75"></i>{% trans "Preview draft" %}</a></li>{% endif %}
        {% endif %}
      {% endblock %}
    </ul>
    <ul class="box menu-box">
      <li><a href="history/" class="historylink"><i class="icon-time icon-alpha75"></i>{% trans "History" %}</a></li>
      {% if original.publisher_linked and original.published and published_url %}<li><a href="{{ published_url }}" class="viewsitelink"><i class="icon-globe icon-alpha75"></i>{% trans "View on site" %}</a></li>{% endif %}
      {% if has_add_permission %}<li><a href="../add/"><i class="icon-plus-sign icon-alpha75"></i>{% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>{% endif %}
      {% if has_add_permission %}<li><a href="../{{ original.pk }}/clone/"><i class="icon-clipboard icon-alpha75"></i>{% blocktrans with opts.verbose_name as name %}Clone {{ name }}{% endblocktrans %}</a></li>{% endif %}
    </ul>
  {% endif %}{% endif %}
{% endblock %}

{% block sidebar %}
    <h4 class="italic-title">{% trans 'status:'|capfirst %} <small class="label label-info">{%  if original.publisher_linked and original.published %}{% if original.is_dirty %}{% trans "draft + published"|upper %}{% else %}{% trans "published"|upper %}{% endif %}{% else %}{% trans "draft"|upper %}{% endif %}</small></h4>
{% endblock %}

{% block submit_buttons_top %}{% endblock %}

{% block submit_buttons_bottom %}
  <div class="submit-row clearfix">
    {% if has_publish_permission %}
      <button type="submit" class="btn btn-high btn-info" name="_publish">{% trans "Publish" %}</button>
      <button type="submit" class="btn btn-high" name="_save">{% trans "Save Draft" %}</button>
    {% else %}
      <button type="submit" class="btn btn-high btn-info" name="_save">{% trans "Save Draft" %}</button>
    {% endif %}
    {% if not is_popup and has_change_permission %}<button type="submit" name="_continue" class=" btn btn-high">{% trans "Save and continue editing" %}</button>{% endif %}
    {% if not is_popup and change and save_as %}<button type="submit" name="_saveasnew" class="btn">{% trans "Save as new" %}</button>{% endif %}
    {% if not is_popup and has_add_permission %}{% if not save_as or add %}<button type="submit" name="_addanother" class="btn">{% trans "Save and add another" %}</button>{% endif %}{% endif %}
    {% if not is_popup and change and has_delete_permission %}
      <a href="delete/" class="text-error deletelink">{% trans "Delete" %}</a>
    {% endif %}
  </div>
{% endblock %}
