.icon-clipboard {
    background-image: url('font-awesome_4-6-3_clipboard_14_0_333333_none.png');
    background-position: 0 0;
}

.icon-files-o {
    background-image: url('font-awesome_4-6-3_files-o_14_0_333333_none.png');
    background-position: 0 0;
}

