<figure class="oembed">
  <a href="{{ instance.url }}"><img src="{{ instance.url }}" width="{{ instance.width }}" height="{{ instance.height }}" alt="{{ instance.title }}" /></a>
  {% if instance.title %}<figcaption>{{ instance.caption|default:instance.title }}</figcaption>{% endif %}
</figure>
