{% extends "admin/base.html" %}

{% load i18n %}

{% block title %}{{ title }} | {% if user.is_superuser %}{% trans "Sigma CMS admin" %}{% else %}{% trans "Sigma CMS dashboard" %}{% endif %}{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans "Sigma CMS" %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
