{% load thumbnail %}<p class="file-upload">{# easy fix to enforce sizes #}
  <a href="{{ value.url }}">{% if is_image %}{% if "favicon" in input_field %}{% thumbnail value 64x64 upscale crop as t %}<img src="{{ t.url }}" width="{{ t.width }}" height="{{ t.height }}" />{% else %}<img src="{{ value.url }}" style="max-width: 500px; max-height: 160px; vertical-align: bottom;">{% endif %}{% else %}{{ value }}{% endif %}</a>
  {{ input_field }}
</p>
