{% load i18n %}
{% for fieldset in inline_admin_form %}
  {% for line in fieldset %}{% for adminfield in line %}{% if adminfield.field.is_hidden %}
    {{ adminfield.field }}{# render all hidden fields top level, compacter and easier to debug #}
  {% endif %}{% endfor %}{% endfor %}

  <fieldset class="module aligned {{ fieldset.name|yesno:' with-legend, first' }} {{ fieldset.classes }}">
    {% if fieldset.name %}
      <h2 class="legend">{{ fieldset.name }}
        {% if fieldset.description %}
          <span class="description">{{ fieldset.description|safe }}</span>
        {% endif %}
      </h2>
    {% endif %}
    {% for line in fieldset %}
      {% if 'embed_max_width' in line.fields %}
        <div class="control-group form-row{% if line.errors %} errors{% endif %}"><div>
          <div class="control-label">
            <label for="{{ form.embed_max_width.auto_id }}">{% trans "Max size" %}:</label>
          </div>
          <div class="controls">
            {{ form.embed_max_width }} &nbsp;&times;&nbsp; {{ form.embed_max_height }}&nbsp; {% trans "pixels" %}
            {% if line.errors %}
              <span class="help-inline">{{ line.errors }}</span>
            {% endif %}
          </div>          
        </div></div>
      {% else %}
        {% if line.has_visible_field %}{% include "admin/fluent_contents/fieldset_line.html" %}{% endif %}
      {% endif %}
    {% endfor %}
  </fieldset>
{% endfor %}
