{% extends "search/base.html" %}

{% load i18n %}

{% block content_title %}{% trans "Search" %}{% endblock %}

{% block content %}
  <form method="GET" action=".">
    {{ form.as_p }}
    <input type="submit" name="submit" value="{% trans "Search" %}" />
  </form>

  {% if query %}
    <h5>{% trans "Results" %}</h5>

    {% for result in page.object_list %}
      <p><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></p>
    {% empty %}
      <p>{% trans "No results found." %}</p>
    {% endfor %}
    {% if page.has_previous or page.has_next %}
      <nav>
        <ul class="pager">
          <li class="previous {% if page.has_previous %}disabled{% endif %}">{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans "Previous" %}{% if page.has_previous %}</a>{% endif %}</li>
          <li class="next {% if page.has_next %}disabled{% endif %}">{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Next" %} &raquo;{% if page.has_next %}</a>{% endif %}</li>
        </ul>
      </nav>
    {% endif %}
  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
{% endblock %}

