{% extends "admin/base_site.html" %}

{% load i18n admin_urls %}
{% load url from suit_compat %}


{% block extrahead %}
{{ block.super }}
<style>
#content-main label {cursor:pointer;}
td.field {vertical-align: middle;}
td.include, th.include-all, td.include-all {text-align:center; width:10px;}
table td select {margin: 0;}
.filter select {width:140px;}
.options {vertical-align:middle; white-space:nowrap;}
.options select {width: auto;}
.options label {margin:0 10px; font-weight:normal; vertical-align:middle; display: inline-block;}
.options-div {visibility:hidden;}
<</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>
$(function() {
    // Show the filter criteria fields when a filter option is selected.
    $('.filter select').change(function() {
        var filtering = this.selectedIndex > 0;
        var options = $(this).parent().parent().find('.options-div');
        options.css('visibility', filtering ? 'visible' : 'hidden');
        // Focus the first field.
        if (filtering) {
            var input = options.find('input:first');
            if (input.length === 1) {
                input.focus();
            } else {
                options.find('select:first').focus();
            }
        }
    }).change();
    // Toggle the include `All` checkboxes - grouped within table tags.
    $('#content-main table').each(function(i, table) {
        table = $(table);
        var all = table.find('.include-all :checkbox');
        var others = table.find('.include :checkbox');
        others.change(function() {
            var len = table.find('.include :checkbox:not(:checked)').length;
            all.attr('checked', len === 0);
        });
        all.change(function() {
            others.attr('checked', !!all.attr('checked'));
        });
    });
    // Add a confirmation prompt for deleting entries.
    $('input[name="delete"]').click(function() {
        if ( $('input[name="selected"]:checked').length === 0 ) {
            alert('{% trans "No entries selected" %}');
            return false;
        } else {
            return confirm('{% trans "Delete selected entries?" %}');
        }
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    <span class="divider">&raquo;</span></li>
  <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
    <span class="divider">&raquo;</span></li>
  <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.module_name|capfirst|escape }}</a>
    <span class="divider">&raquo;</span></li>
  <li><a href="{% url opts|admin_urlname:'change' original.pk %}">{{ original|truncatewords:"18" }}</a>
    <span class="divider">&raquo;</span></li>
  <li class="active">{{ title }}</li>
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module">
    <form method="post">
    {% csrf_token %}
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
            <th><span>{% trans "Field" %}</span></th>
            <th><span>{% trans "Include" %}</span></th>
            <th class="last" colspan="2"><span>{% trans "Filter by" %}</span></th>
        </tr>
      </thead>
      <tbody>
        {% for include_field, filter_field, filter_option_fields in entries_form %}
        <tr class="{% cycle on,off as row %}">
            <td class="field">{{ include_field.label_tag }}</td>
            <td class="include">{{ include_field }}</td>
            <td class="filter last">{{ filter_field }}</td>
            <td class="options last">
                <div class="options-div">
                    {% for option_field in filter_option_fields %}
                    {{ option_field.label_tag }} {{ option_field }}
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr class="{% cycle row %}">
            <td class="field" style="text-align:right;">
                <label for="include-all">{% trans "All" %}</label>
            </td>
            <td class="include-all">
                <input type="checkbox" id="include-all" class="include-all" checked="checked">
            </td>
            <td class="last" colspan="2">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <div class="submit-row submit-row-bottom">
      <input type="submit" name="back" class="btn btn-default" value="{% trans "Back to form" %}">
      <input type="submit" class="btn btn-info" value="{% trans "View entries" %}">
      <input type="submit" class="btn btn-info" name="export" value="{% trans "Export CSV" %}">
      {% if xlwt_installed %}
      <input type="submit" class="btn btn-info" name="export_xls" value="{% trans "Export XLS" %}">
      {% endif %}
    </div>
    {% if submitted %}
    <br clear="both" />
    <h2 id="entries-title">{% trans "Entries" %}</h2>
    {% for row in entries_form.rows %}
    {% if forloop.first %}
    <table id="entries-table" class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
            {% if can_delete_entries %}
            <th class="include-all"><input type="checkbox"></th>
            {% endif %}
            {% for column in entries_form.columns %}
            <th{% if forloop.last %} class="last"{% endif %}><span>{{ column }}</span></th>
            {% endfor %}
        </tr>
      </thead> 
    {% endif %}
      <tbody>
        <tr class="{% cycle on,off %}">
            {% if can_delete_entries %}
            <td class="include">
                <input type="checkbox" name="selected" value="{{ row.0 }}">
            </td>
            {% endif %}
            {% for field in row %}
            {% if not forloop.first %}
            <td{% if forloop.last %} class="last"{% endif %}>{{ field }}</td>
            {% endif %}
            {% endfor %}
        </tr>
      </tbody>
    {% if forloop.last %}
    </table>
    <!--
    count is injected into the title here with the :after selector
    to avoid calling the expensive "entries_form.rows" twice.
    -->
    <style>#entries-title:after {content: ' ({{ forloop.counter }})';}</style>
    {% if can_delete_entries %}
    <div class="submit-row submit-row-bottom">
      <input type="submit" name="back" class="btn btn-default" value="{% trans "Back to form" %}">
      <input type="submit" name="delete" class="btn btn-danger" value="{% trans "Delete selected" %}">
    </div>
    {% endif %}
    {% endif %}
    {% empty %}
    <p class="empty">{% trans "No entries to display" %}</p>
    {% endfor %}
    {% endif %}
    </form>
  </div>
</div>
{% endblock %}
